html,
body {
  height: 100%;
  margin: 0;
  user-select: none;
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Safari, Chrome, and Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by most modern browsers */
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

#score {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  font-weight: 900;
}

#introduction {
  width: 200px;
  height: 150px;
  position: absolute;
  font-weight: 600;
  font-size: 0.8em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
}

#restart {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  cursor: pointer;
}

#perfect {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}

#body_dtgk {
  position: absolute;
  z-index: 99999;
}

@keyframes infiniteScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

#link_dtgk {
  position: absolute;
  z-index: 99999;
  bottom: 20px;
  left: 20px;

  width: 250px;
  transition: transform 0.3s ease-in-out;
}

#link_dtgk:hover {
  animation: infiniteScale 2s infinite;
  transform: scale(1.2);
}

#logo_logo {
  width: 100%;
  height: 100%;
}

#rainCanvas,
#snowCanvas,
#sunCanvas {
  height: 100%;
  /* Đảm bảo thẻ canvas chiếm toàn bộ chiều cao của phần tử cha */
  width: 100%;
  position: absolute;
  pointer-events: none;
  z-index: 1;
  /* Đảm bảo nó nằm trên canvas game */
  user-select: none;
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Safari, Chrome, and Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by most modern browsers */
}