html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

#score {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  font-weight: 900;
}

#introduction {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
}

#restart {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  cursor: pointer;
}

#perfect {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}

#body_dtgk {
  position: absolute;
  z-index: 99999;
}

@keyframes infiniteScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

#link_dtgk {
  position: absolute;
  z-index: 99999;
  bottom: 20px;
  left: 20px;

  width: 100px;
  transition: transform 0.3s ease-in-out;
}

#link_dtgk:hover {
  animation: infiniteScale 2s infinite;
  transform: scale(1.2);
}

#logo_logo {
  width: 100%;
  height: 100%;
}

#wrapper {
  display: block;
  width: 200px;
  height: 150px;
  position: absolute;
  font-weight: 600;
  font-size: 0.8em;
}

/* #btn-click {
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 70%;
  transform: translate(-50%, 50%);
} */